<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="row justify-content-between">
    <div class="col-6">
      <div class="container-fluid">
        <div class="row">
          <span>Current change</span>
        </div>
        <div class="row">
          <span class="current" [ngClass]="(wallet.totalTaux() >= 0) ? 'green' : 'red'">{{ wallet.totalTaux() | number }} %</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container-fluid">
        <div class="row">
          <span>Total gain</span>
        </div>
        <div class="row">
          <span class="current" [ngClass]="(wallet.totalGain() >= 0) ? 'green' : 'red'">{{ wallet.totalGain() | number }} $</span>
        </div>
      </div>

    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-6">
      <div class="container-fluid">
        <div class="row">
          <span>Current value</span>
        </div>
        <div class="row">
          <span class="current">{{ wallet.totalUSD() | number }} $ </span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container-fluid">
        <div class="row">
          <span>Cost value</span>
        </div>
        <div class="row">
          <span class="current">{{ wallet.investissement | number }} $ </span>
        </div>
      </div>

    </div>
  </div>

  <div class="row justify-content-center margin-top">
    <div class="col-12">
      <table *ngIf="wallet.wallet.length > 0" class="table table-dark">
        <tr>
          <th>Nom</th>
          <th>Valeur actuelle</th>
          <th>Evolution 24H</th>
          <th>Evolution</th>
          <th>Total $</th>
        </tr>
        <tr *ngFor="let stock of wallet.wallet">
          <td>{{stock.currency}}</td>
          <td><span *ngIf="stock.cours">{{ stock.cours.last | number: '.1'}}</span></td>
          <td [ngClass]="(stock.evolution() > 0) ? 'green' : 'red'">{{ stock.evolution() | number: '.1'}} %</td>
          <td [ngClass]="(getAveragePrice(stock.total(), stock.currency) > 0) ? 'green' : 'red'">{{ getAveragePrice(stock.total(), stock.currency) | number: '.1'}} %</td>
          <td>{{ stock.totalUSD() | number: '.1' }} $</td>
        </tr>
      </table>

    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-8">
      <form>
        <div class="form-group">
          <label for="apiKey">ApiKey</label>
          <input type="text" class="form-control" name="apiKey" id="apiKey" [(ngModel)]="apiKey" placeholder="XXX"/>
        </div>
        <div class="form-group">
          <label for="privateKey">PrivateKey</label>
          <input type="password" class="form-control" name="privateKey" id="privateKey" [(ngModel)]="privateKey"
                 placeholder="XXX"/>
        </div>
      </form>
    </div>
  </div>
</div>
